html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align:center;
  overflow: hidden;
}
.font{
  font: italic bold 12px/30px Georgia, serif;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  margin: 0px;
  touch-action: none;
  position: relative;
 
}
.main{
  width: 100%;
  height: 100%;
  position: relative;
}

#zacetni{
  position: absolute; 
  width: 100%;
  height: 100%;
  z-index: 10;
}

#score{
  z-index: 99;
  position: absolute;
  top: 0;
  left: 40% !important;
  font-size: 100px;
  height: 100px;
  width:200px;
  color: #ffffff;
}
#life{
  z-index: 99;
  position: absolute;
  top: 0;
  left: 48% !important;
  font-size: 100px;
  height: 100px;
  width:200px;
  color: #ffffff;
}

.image{
  width: 100%;
  height: 100%;
  
}


.button{
  position: absolute;
  top:0; 
  left:0; 
  margin-top: 10%;
  margin-left: 47%;
  color: black;
  background-color: #ffff00; 
  border: none;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
 
.ins {
  background-color: #FFA500 !important;
}

.button:hover {
    background-color: white; 
    
}